
section {
    .main-section-form {
        overflow-y: hidden;

        .form-container {
            box-shadow: 0px 2px 15px rgba(255, 0, 0, 0.2);

            background-color: var(--black);
            width: 33%;
            max-width: 35%;
            margin: 5em auto 3em auto;
            padding: 0 1em 1em 1em;

            border-radius: .5em;
            box-sizing: border-box;

            img {
                display: block;
                margin: 2em auto;
            }

            h1 {
                font-size: 20pt;
                padding: .2em 0 0.5em 0.2em;
            }

            form {
                .input-field {
                    margin: 1em 0 0 1em;

                    &.file {
                        & input#avatar {
                            width: 120px;
                            height: 9px;
                            opacity: 0;
                            overflow: hidden;
                            position: relative;
                            transform: translateY(1em);
                            margin-top: -1em;
                            cursor: pointer;

                            &:hover + label{
                                border-bottom: 0.5pt solid #747474; 
                            }
                        }

                        & label {
                            color: grey;
                            display: inline-block;
                            font-size: 12.5pt;
                            font-family: "Dekar-Regular";
                            border: 0;
                            border-bottom-color: currentcolor;
                            border-bottom-style: none;
                            border-bottom-width: 0px;
                            border-bottom: 0.5pt solid transparent;
                            outline: none;
                            transition: all 0.2s;
                            padding: 0.2em 0.1em;
                        }
                    }

                    input {
                        font-size: 15.5pt;
                        display: block;
                        padding: 0.2em 0.1em;
                        border: 0;
                        border-bottom-color: currentcolor;
                        border-bottom-style: none;
                        border-bottom-width: 0px;
                        border-bottom: 0.5pt solid #747474;
                        outline: none;
                        transition: all 0.2s;
                        background-color: transparent;
    
                        &:hover, &:focus {
                            padding: 0.2em 0.3em;
                        }                        

                        &[type=number] {
                            -webkit-appearance: none;
                            -moz-appearance: textfield;
                            margin: 0;
                            width: 20%;
                        }

                        &#Iva {
                            width: 40%;
                        }

                        &#birthday {
                            color: #808080;
                        }

                        &#email {
                            width: 70%;
                        }

                        &#phone {
                            width: 35%;
                        }

                        &#city {
                            width: 62%;
                        }
                    }

                    
                }

                h1 {
                    margin: 1em 0 0 0;
                }

                .address-field {
                    display: flex;  
                }

                .password-field {
                    position: relative;
                    display: flex;

                    input {
                        box-sizing: border-box;
                    }

                    .fa-eye {
                        position: absolute;
                        cursor: pointer;
                        color: grey;
                        top: 55%;
                        left: 60%;
                    }
                }

                .action {
                    
                    margin: 3em 0 1em 0;

                    button {
                        display: block;
                        margin: 0 auto;

                        border: none;
                        border-color: transparent;
                        border-radius: 2pt;

                        padding: 0.7em 0.9em;
                        
                        background: #e8e9ec;
                        color: rgb(139, 0, 0);
                        font-size: 14pt;                        
                        letter-spacing: 0.5px;                        
                        outline: 0;
                        cursor: pointer;
                        transition: all .3s;

                        &:hover {
                            color: white;
                            background-color: rgb(139, 0, 0);
                            letter-spacing: 0.8px; 
                        }
                    }
                }

                .reset {
                    all: unset;

                    cursor: pointer;
                    color: grey;
                    border-bottom: 0.5pt solid #747474;
                    padding: 0.2em 0.1em;
                    transition: all 0.2s;

                    &:hover {
                        padding: 0.2em 0.3em;
                    } 

                }
            }
        }
    }
}
