
:root {
    --gold: #f5db63;
    --gold_darker: #f7d22e;
    --title: #828282;
    --subtitle: #adadad;
}

gold {
    color: var(--gold);
}

body {
    section {
        header {
            margin: 0 5em;

            a#fearinoculum-aboutme {
                color: var(--gold);

                &:hover {
                    color: var(--gold_darker);
                }
            }

            img#FearInoculumLogo {
                margin: 0 0 0 1em;
                max-height: 100%;
                width: 18%;
            }
        }

        hr {
            margin: 0 auto;
            width: 90%;
        }

        .main-section {
            width: 100%;
            overflow-y: hidden;

            .first-description {
                margin: 5em auto 0 auto;
                width: 75%;

                display: flex;
                justify-content: center;

                img {
                    height: 40%;
                    width: 40%;
                }

                .general-info {
                    display: block;
                    width: 55%;

                    h1 {
                        color: var(--title);
                        font-weight: 900;
                        font-size: 30pt;

                        padding: 0 1em 0 1em;
                    }                   
                }

                .vinyl-price {
                    margin: 2em 3em;

                    span {
                        color: aliceblue;
                        font-size: 24pt;
                    }
                }

                .vinyl-subtitle {
                    overflow-y: hidden;
                    margin: 0 2em;

                    span {
                        color: var(--subtitle);
                        font-weight: 300;
                    }

                }
            }

            .second-description {
                margin: 2em auto 5em 12em;
                width: 80%;

                overflow-y: hidden;

                .description {
                    h1 {
                        font-weight: 900;
                        margin: 1em 0;
                    }

                    p {
                        font-weight: 100;
                        font-size: 14pt;
                        margin: 0 21em 0 0;
                        padding: 0.5em 0;
                    }
                } 
                
                .tracklist {
                    h1 {
                        margin: 1.5em 0 1em 0;
                    }

                    ol {
                        li {
                            padding: .5em 0;
                        }
                    }
                }
            }
        }

        #bottom-hr {
            width: 100%;
        }

        #footer-fearInoculum {
            background-color: var(--gold);
            height: 10vh;
            overflow-y: hidden;

            span {
                font-weight: 500;
                color: var(--black_pure);
                margin-top: 2em;
            }
        }
            
    }
}

