
:root {
    --red: #b42c2e;
    --red_darker: #d3324f;
}

red {
    color: var(--red);
}

body {
    section {
        header {
            margin: 2em 2em;
            
            a#lateralus-aboutme {
                color: var(--red);

                &:hover {
                    color: var(--red_darker);
                }
            }

            img#LateralusLogo {
                max-height: 100%;
                width: 13%;
            }
        }

        .main-section {
            width: 100%;
        }

        #footer-lateralus {
            height: 10vh;
            background-color: var(--red);

            span {
                margin: 0.5em 0 0 0;
            }
        }
    }
}