section .main-section-form {
  overflow-y: hidden;
}
section .main-section-form .form-container {
  box-shadow: 0px 2px 15px rgba(255, 0, 0, 0.2);
  background-color: var(--black);
  width: 33%;
  max-width: 35%;
  margin: 5em auto 3em auto;
  padding: 0 1em 1em 1em;
  border-radius: 0.5em;
  box-sizing: border-box;
}
section .main-section-form .form-container img {
  display: block;
  margin: 2em auto;
}
section .main-section-form .form-container h1 {
  font-size: 20pt;
  padding: 0.2em 0 0.5em 0.2em;
}
section .main-section-form .form-container form .input-field {
  margin: 1em 0 0 1em;
}
section .main-section-form .form-container form .input-field.file input#avatar {
  width: 120px;
  height: 9px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transform: translateY(1em);
  margin-top: -1em;
  cursor: pointer;
}
section .main-section-form .form-container form .input-field.file input#avatar:hover + label {
  border-bottom: 0.5pt solid #747474;
}
section .main-section-form .form-container form .input-field.file label {
  color: grey;
  display: inline-block;
  font-size: 12.5pt;
  font-family: "Dekar-Regular";
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 0.5pt solid transparent;
  outline: none;
  transition: all 0.2s;
  padding: 0.2em 0.1em;
}
section .main-section-form .form-container form .input-field input {
  font-size: 15.5pt;
  display: block;
  padding: 0.2em 0.1em;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-bottom: 0.5pt solid #747474;
  outline: none;
  transition: all 0.2s;
  background-color: transparent;
}
section .main-section-form .form-container form .input-field input:hover, section .main-section-form .form-container form .input-field input:focus {
  padding: 0.2em 0.3em;
}
section .main-section-form .form-container form .input-field input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  width: 20%;
}
section .main-section-form .form-container form .input-field input#Iva {
  width: 40%;
}
section .main-section-form .form-container form .input-field input#birthday {
  color: #808080;
}
section .main-section-form .form-container form .input-field input#email {
  width: 70%;
}
section .main-section-form .form-container form .input-field input#phone {
  width: 35%;
}
section .main-section-form .form-container form .input-field input#city {
  width: 62%;
}
section .main-section-form .form-container form h1 {
  margin: 1em 0 0 0;
}
section .main-section-form .form-container form .address-field {
  display: flex;
}
section .main-section-form .form-container form .password-field {
  position: relative;
  display: flex;
}
section .main-section-form .form-container form .password-field input {
  box-sizing: border-box;
}
section .main-section-form .form-container form .password-field .fa-eye {
  position: absolute;
  cursor: pointer;
  color: grey;
  top: 55%;
  left: 60%;
}
section .main-section-form .form-container form .action {
  margin: 3em 0 1em 0;
}
section .main-section-form .form-container form .action button {
  display: block;
  margin: 0 auto;
  border: none;
  border-color: transparent;
  border-radius: 2pt;
  padding: 0.7em 0.9em;
  background: #e8e9ec;
  color: rgb(139, 0, 0);
  font-size: 14pt;
  letter-spacing: 0.5px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s;
}
section .main-section-form .form-container form .action button:hover {
  color: white;
  background-color: rgb(139, 0, 0);
  letter-spacing: 0.8px;
}
section .main-section-form .form-container form .reset {
  all: unset;
  cursor: pointer;
  color: grey;
  border-bottom: 0.5pt solid #747474;
  padding: 0.2em 0.1em;
  transition: all 0.2s;
}
section .main-section-form .form-container form .reset:hover {
  padding: 0.2em 0.3em;
}/*# sourceMappingURL=Donate.css.map */