@import url("../css/FearInoculum.css");
@import url("../css/Lateralus.css");
@import url("../css/10000Days.css");
@import url("../css/Opiate.css");
:root {
  --black_pure: #000000;
  --grey_dark: #252526;
  --black: #1e1e1e;
  --grey_light: #d4d4d4;
  --grey: #4d4d4e;
  --red_light: #ff0000;
  --red_dark: #af0404;
  --grey_border: #383837;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Dekar-Regular";
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}
body section {
  height: 100%;
}
body section header {
  margin: 0;
  padding: 0.5em;
  background-color: var(--black_pure);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
}
body section header img {
  margin: 0 1.2em 0 3em;
  max-height: 100%;
  width: 5%;
  cursor: pointer;
}
body section header h1 {
  padding: 1.2em;
  font-size: 18pt;
  color: var(--grey_light);
}
body section header a {
  margin-left: auto;
  margin-right: 10vw;
  text-decoration: none;
  font-size: 16pt;
  color: var(--grey_light);
  transition: 0.4s;
}
body section header a:hover {
  color: white;
}
body section .section-table {
  height: 100%;
  display: flex;
  flex-direction: row;
}
body section .section-table table {
  overflow-y: hidden;
  width: 50%;
}
body section .section-table table tr {
  cursor: pointer;
}
body section .section-table table tr td {
  border: none;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body section .section-table table tr td.FearInoculum-element {
  background-image: url("../imgs/FearInoculumTableBackground.jpg");
  background-position-y: -2em;
  transition: transform 0.8s ease-in-out;
}
body section .section-table table tr td.Lateralus-element {
  background-image: url("../imgs/LateralusTableBackground.jpg");
  transition: transform 0.8s ease-in-out;
}
body section .section-table table tr td.Days-element {
  background-image: url("../imgs/10000DaysTableBackground.webp");
  transition: transform 0.8s ease-in-out;
}
body section .section-table table tr td.Opiate-element {
  background-image: url("../imgs/OpiateTableBackground.jpg");
  background-position-y: -2em;
  transition: transform 0.8s ease-in-out;
}
body section .section-table table tr td:hover {
  transform: scale(1.01);
}
body section .section-table table tr td:hover > h2 {
  border-color: white;
  letter-spacing: 0pt;
}
body section .section-table table tr td h2 {
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.8s;
  letter-spacing: 1pt;
  font-size: 24pt;
  margin: 0 auto;
  width: 43%;
}
body section .about-me {
  width: 100%;
  background-color: var(--black);
  border-top-left-radius: 250% 8em;
  border-top-right-radius: 250% 8em;
  margin-left: -1em;
  padding-right: 2em;
  overflow-y: hidden;
  transform: translateY(-2em);
}
body section .about-me .content {
  margin: 0 0 3em 4em;
}
body section .about-me .content h1 {
  font-size: 32pt;
  margin: 2em auto 1em auto;
  text-align: center;
}
body section .about-me .content p {
  font-size: 22pt;
  margin: 1em auto;
  max-width: 60%;
}
body section footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: var(--black_pure);
}
body section footer span {
  font-size: 14pt;
  margin-bottom: 1.5em;
}/*# sourceMappingURL=index.css.map */